*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-weight: bold;
    color:white;
    font-family: 'Times New Roman', Times, serif
}

body{
    background-color: rgba(58, 48, 48, 0.808);
}

header{
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); 
    border-bottom: 2px solid rgba(58, 48, 48, 0.808) ;
}

